body {
    background-image: url("aksonvady_Data_technology_futuristic_illustration\ 31\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.box1 {
    width: 293px;
    height: 513px;
    opacity: 0.8;
    background-color: #DBC50080;
    margin-right: 10px;
}
.box2 {
    width: 293px;
    height: 513px;
    opacity: 0.8;
    background-color: #DBC50066;
    margin-right: 10px;
}
.box3 {
    width: 293px;
    height: 513px;
    opacity: 0.8;
    background-color: #DBC500B2;
    margin-right: 10px;
}
.box4 {
    width: 293px;
    height: 513px;
    opacity: 0.8;
    background-color: #DBC50059;
}

.boxes {
    display: inline-flex;
}